<ion-content>
  <app-header></app-header>

  <div class="custom-card">
    <h2>Registro de Usuario</h2>

    <!-- Campo para el nombre completo -->
    <ion-item>
      <ion-label position="floating">Nombre Completo</ion-label>
      <ion-input [(ngModel)]="nombre" type="text"></ion-input>
    </ion-item>

    <!-- Campo para el nombre de usuario -->
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="usuario" type="text"></ion-input>
    </ion-item>

    <!-- Campo para la contraseña -->
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="clave" type="password"></ion-input>
    </ion-item>

    <!-- Selección del rol del usuario -->
    <ion-item>
      <ion-label>Rol</ion-label>
      <ion-select [(ngModel)]="rol">
        <ion-select-option value="alumno">Alumno</ion-select-option>
        <ion-select-option value="docente">Docente</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Botón para registrar -->
    <ion-button (click)="registrar()" class="custom-button" [disabled]="isLoading">
      Registrar
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </ion-button>

    <p class="iniciar-sesion" routerLink="/login">
      ¿Ya tienes cuenta? Inicia sesión
    </p>
  </div>

  <app-footer></app-footer>
</ion-content>
