<ion-content class="content-container">
  <app-header></app-header>

  <div class="custom-card">
    <h2>Bienvenido {{ usuario }} a tus cursos</h2>

    <div class="curso">
      <h3>Programación</h3>
      <ion-button routerLink="/escanearqr" class="iniciar-button">Iniciar</ion-button>
    </div>
    <div class="curso">
      <h3>Inglés</h3>
      <ion-button routerLink="/escanearqr" class="iniciar-button">Iniciar</ion-button>
    </div>
    <div class="curso">
      <h3>Arquitectura</h3>
      <ion-button routerLink="/escanearqr" class="iniciar-button">Iniciar</ion-button>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
