<ion-content>
  <app-header></app-header>

  <div class="custom-card">
    <h2>Inicio de Sesión</h2>

    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="usuario" type="text"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="clave" type="password"></ion-input>
    </ion-item>


    <ion-button (click)="login(usuario, clave)" class="custom-button" [disabled]="isLoading">
      Ingresar
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </ion-button>

    <ion-text color="danger" *ngIf="loginFailed">
      Usuario o clave incorrectos.
    </ion-text>

    <p class="recuperar-password" routerLink="/recuperarpassword">
      ¿Olvidaste tu contraseña?
    </p>
  </div>

  <app-footer></app-footer>
</ion-content>
