<ion-content class="content-container">
  <app-header></app-header>

  <div class="custom-card">
    <h2>Bienvenido {{usuario}} a tus Cursos</h2>

    <div class="curso">
      <h3>Seccion 001</h3>
      <ion-button routerLink="/generarqr" class="iniciar-button">Iniciar</ion-button>
    </div>
    <div class="curso">
      <h3>Seccion 002</h3>
      <ion-button routerLink="/generarqr" class="iniciar-button">Iniciar</ion-button>
    </div>
    <div class="curso">
      <h3>Seccion 003</h3>
      <ion-button routerLink="/generarqr" class="iniciar-button">Iniciar</ion-button>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
